/* =============
    Navigation
============= */
#nav-container {



	


	ul {
		height: 90%;
		width: 100%;
		display: flex;
		line-height: 30px;
		justify-content: center;
		align-items: center;
		// text-align: right;
		flex-direction: column;

		@include md {
		text-align: right;
		align-items: flex-end;
		justify-content: center;
	
		line-height: 75px;
		}
		@include lg {
			justify-content: space-between;
			flex-direction: row;
			line-height: 20px;
		}
		li {
			margin-bottom: 20px;
			text-align: right;
			// align-self: flex-end;
			
			
			@include lg {
				align-items: center;
				display: flex;
				margin-bottom: 0px;
			}


			button{
				padding-right: 0px;
				background-color: transparent;
				color: $lightblue;
				// padding: 0px 0px;
				text-decoration: none;
				z-index: 1;
				// width: 100vw;
				
				font-size: rem-calc(30);
				font-family: 'Karla', sans-serif;
				cursor: pointer;
				border-radius: 0px;

				// box-shadow: inset 0 0 0 0 $lightblue;
				transition: 0.25s;
				
				@include md{
					padding-right: 100px;
				}
				// &:before {
				// 	content: '';
				// 	position: absolute;
				// 	top: 0;
				// 	left: 0;
				// 	bottom: 0;
				// 	right: 0;
				// 	z-index: -1;
				// 	background-color: $lightgreen;
				// 	transition: transform 0.25s ease-in-out;
				// 	transform-origin: right;
				// 	transform: scaleX(0) ;}


				&:hover {
					// background-color: $lightblue;
					// background-position: 0px 150px;
					// color: $darkblue;
					font-size: rem-calc(40);
					// width: 100vw;
					padding-top: 10vh;
					padding-bottom: 10vh;
					text-align: center;
					width: 100vw;

					// box-shadow: inset 100vw 0 0 0 $lightblue;
					// margin-left: 40vw;
					// z-index: 1;
					// transform: scaleX(1)

					@include md{
						width: 65.14vw;
						text-align: right;
						padding-right: 100px;
					}
				}

				@include lg{
					color: $lightblue;
					font-size: rem-calc(17);
					padding: 0px;
					

					&:hover {
						background-color: transparent;
						color: $lightgreen;
						bottom: 0;
						left: 0;
						width: fit-content;
						// padding: 5px;
						padding-right: 0px;
						padding-top: 0px;
						padding-bottom: 0px;
						// font-size: rem-calc(17);
						// box-shadow: inset 0 0 0 0 $lightblue;
	
					}
			
				}

			}
			

			

			// button {
			// 	background-color: $green;
			// 	border: none;
			// 	border-radius: 10px;
			// 	color: $lightblue;
			// 	cursor: pointer;
			// 	font-size: rem-calc(24);
			// 	font-variation-settings: "wght"600;
			// 	font-weight: 600;
			// 	padding: 10px;
			// 	transition: 0.25s;
			// 	&:hover {
			// 		background-color: $green-button;
			// 	}
			// 	@include md {
			// 		font-size: rem-calc(24);
			// 		padding: 10px 40px;
			// 	}
			// }


			// a:link,
            // a:visited {
			// 	color: $lightgreen;
			// 	padding: 0px 0px;
			// 	text-decoration: none;
			// 	transition: 0.25s;
			// 	font-size: rem-calc(50);
			// 	@include lg {
			// 		color: $lightgreen;
			// 		font-size: rem-calc(17);
			// 	}
			// 	&:hover,
            //     &:active {
			// 		color: $green;
			// 	}
			// }
		}
	}
}